.cadastro{
    margin: 80px auto 80px auto;
}

.campo-cadastro{
    width: 75%;
    text-align: center;
    margin: 0 auto;
}

.cadastro-informacao{
    display: flex;
    align-items: start;
    margin-bottom: 8px;
}

.politica-cadastro{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-politica{
    max-height: 16px;
    display: flex;
    flex-direction: row;
    max-width: 30px;
}

.campo-cadastro p{
    text-align: left;
    font-size: 12px;
}

.mensagem-erro{
    color: red;
    font-weight: 300;
    font-size: 12px;
    display: flex;
    margin-top: 4px;
}

.botao-cadastrar{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    
}

.botao-cadastrar input[type="submit"] {
    letter-spacing: 2px;
    background-color: var(--cor-laranja);
    color: var(--cor-de-fundo);
    opacity: 0.5; 
    transition: opacity 0.3s; 
}

.botao-cadastrar input[type="submit"]:hover {
    opacity: 1; 
}

@media screen and (max-width:600px) {

    .campo-cadastro{
        width: 100%;
    }

    .botao-cadastrar{
        width: 100%;
        
    }
}





